<div class="background"></div>
<div class="palm-scene palm-dark remote-scene">
  <div class="palm-hasheader">
    <div class="palm-header left truncating-text">
    	<div class="palm-header-wrapper">
    		<div class="toggle-inlay">
    		  <div id="toggle-list-view" class="toggle-list-view" x-mojo-tap-highlight="immediate">
    				<img src="images/list-view-header-icon.png" />
    			</div>
    			<div id="toggle-now-view" class="toggle-now-view" x-mojo-tap-highlight="immediate">
    				<img src="images/now-view-header-icon.png" />
    			</div>
    			<div id="toggle-remote-view" class="toggle-remote-view depressed" x-mojo-tap-highlight="immediate">
    			  <img src="images/remote-view-header-icon.png" />
    			</div>
    		</div>
    		<div id="title" class="truncating-text"></div>
    	</div>
    </div>

    <div class="remote-ui" id="remote-ui">
      <div class="up" id="up" x-mojo-tap-highlight="momentary"></div>
      <div class="down" id="down" x-mojo-tap-highlight="momentary"></div>

      <div class="left" id="left" x-mojo-tap-highlight="momentary"></div>
      <div class="right" id="right" x-mojo-tap-highlight="momentary"></div>

      <div class="ok" id="ok" x-mojo-tap-highlight="momentary"></div>
      
      <div class="back" id="back" x-mojo-tap-highlight="momentary"></div>
    </div>

  </div>
  
</div>