<div class="background"></div>
<div class="palm-scene palm-dark">
  
  <div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
      <div class="title left">About</div>
    </div>
  </div>
  
  <div style="margin: 10px 0 15px 20px;">
    Boxee Remote Beta<br />
    0.9.1 by Alexander Slansky
  </div>
  <!--
  <div class="palm-group">
    <div class="palm-group-title">Help</div>
    <div class="palm-list">
      
      <div class="palm-row last first" id="help" x-mojo-tap-highlight="momentary">
        <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
          <div class="title truncating-text">
            Help Topics
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
  <div class="palm-group">
    <div class="palm-group-title">Support</div>
    <div class="palm-list">

      <div class="palm-row first" id="website" x-mojo-tap-highlight="momentary">
        <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
          <div class="title truncating-text">
            Application Web Site
          </div>
        </div>
      </div>
    
      <div class="palm-row" id="support" x-mojo-tap-highlight="momentary">
        <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
          <div class="title truncating-text">
            Support Web Site
          </div>
        </div>
      </div>
    
      <div class="palm-row last" id="email" x-mojo-tap-highlight="momentary">
        <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
          <div class="title truncating-text">
            Send Email
          </div>
        </div>
      </div>
    
    </div>
  
  </div>
  <div style="margin: 10px 0 15px 20px; font-size: 13px;">&copy; 2010 Alexander Slansky</div>
</div>