<div class="background"></div>
<div class="palm-scene palm-dark remote-scene palm-hasheader">

  <div class="palm-header left truncating-text">
  	<div class="palm-header-wrapper">
  		<div class="toggle-inlay">
  		  <div id="toggle-list-view" class="toggle-list-view depressed" x-mojo-tap-highlight="immediate">
  				<img src="images/list-view-header-icon.png" />
  			</div>
  			<div id="toggle-now-view" class="toggle-now-view" x-mojo-tap-highlight="immediate">
  				<img src="images/now-view-header-icon.png" />
  			</div>
  			<div id="toggle-remote-view" class="toggle-remote-view" x-mojo-tap-highlight="immediate">
  			  <img src="images/remote-view-header-icon.png" />
  			</div>
  		</div>
  		<div id="title" class="truncating-text"></div>
  	</div>
  </div>
  
  <div id="spacerDiv" class="list-header-spacer"></div>
  <div id="list" x-mojo-element="FilterList" ></div>
  <br /><br />
</div>