<div class="background"></div>
<div class="palm-scene palm-dark remote-scene">
  <div class="palm-hasheader">
    <div class="palm-header left truncating-text">
    	<div class="palm-header-wrapper">
    		<div class="toggle-inlay">
    		  <div id="toggle-list-view" class="toggle-list-view" x-mojo-tap-highlight="immediate">
    				<img src="images/list-view-header-icon.png" />
    			</div>
    			<div id="toggle-now-view" class="toggle-now-view depressed" x-mojo-tap-highlight="immediate">
    				<img src="images/now-view-header-icon.png" />
    			</div>
    			<div id="toggle-remote-view" class="toggle-remote-view" x-mojo-tap-highlight="immediate">
    			  <img src="images/remote-view-header-icon.png" />
    			</div>
    		</div>
    		<div id="title" class="truncating-text"></div>
    	</div>
    </div>
    
    <div class="cover-container" id="cover-div">
      <div class="cover-wrapper">
        <div class="cover-art">
          <img id="cover-art-img" style="visibility:hidden">
        </div>
      </div>
    </div>
    <!--
    <div class="progress-bar" id="progress-bar" style="display:none;">
      <div class="progress" id="progress"></did>
    </div>
    -->
  </div>
</div>